/* pre footer */

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px; 
    padding: 0 10% 3% 15%;

    @media only screen and (min-width: 1720px) {
        article {
            width: 175px;
        }
    }
}

.bandage-section {
    background-color: #f2f2f2; 
    padding: 50px 200px; 
    text-align: center;
    padding-bottom: 0 !important;

    h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0.10000000149011612px;
        text-align: left;
        color: #252B42;
        padding-bottom: 44px;
    }

    h6 {
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.20000000298023224px;
        text-align: left;
        color: #737373;
    }

    span {
        float: inline-end;
    }

    a {
        padding-right: 7px;
    }
}

.padding-footer {
    padding: 18px 200px !important;
}

.separator {
    border: none; 
    border-top: 1px solid #E6E6E6; 
    margin: 0 auto; 
    width: 1057px;
    padding-bottom: 4px;

    @media only screen and (min-width: 1720px) {
        width: 1457px;
    }
}

.footer {
    padding-top: 50px;

    @media only screen and (max-width: 1720px) {
        padding-right: 5% !important;
    }

    h5 {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.10000000149011612px;
        text-align: left;
        color: #252B42;
        padding-bottom: 20px;
    }

    a {
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.20000000298023224px;
        text-align: left;
        color: #737373;
        text-decoration: none;
        display: block;
        padding-bottom: 7px;
    }

    span {
        font-size: 12px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.20000000298023224px;
        text-align: left !important;
        color: #737373;
    }
}

.input-group {
    display: flex;
}

.input-group input {
    flex: 1; 
    padding: 8px;
    height: 58px;
    padding: 15px 50px 15px 20px;
    border-radius: 5px;
    border: 1px;
    gap: 47px;
    background: #F9F9F9;
    border: 1px solid #E6E6E6
}

.input-group button {
    cursor: pointer;
    width: 117px;
    height: 58px;
    padding: 15px 22.5px 15px 22.5px;
    border: 1px solid #E6E6E6 !important;
    border-radius: 0px 5px 5px 0px;
    gap: 10px;
    background-color: #23A6F0;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
}